body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
}

header{
    background-color: rgb(113, 185, 92);
    display: grid;
    grid-template-columns: 1fr 5fr;
}

main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: rgb(120, 120, 192);
}

aside{
    background-color: rgb(163, 42, 147);
    height: 100%;
}

footer{
    background-color: rgb(172, 97, 97);
}

figure{
    margin: 0;
    background-color: rgb(163, 42, 147);
}

nav{
    background-color: bisque;
    text-align: left;
    padding: 5px;
}

article{
    grid-row: auto;
    margin: 0;
    background-color: aqua;
}

section{
    margin: 0;
    background-color: red;
}

@media screen and (max-width: 600px){
    header{
        display: block;
    }
    nav{
        display: none;
    }
    main{
        display: block;
    }
}
