body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f0f0f0;
}

.game-container{
    text-align: center;
}

.gameBoard{
    width: 400px;
    height: 400px;
    border: 2px solid #333;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr);
    background-color: #fff;
}

.score{
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.snake{
    background-color: #3fcf3f;  
    border: 1px solid #10641e;
    border-radius: 30%;
}

.food{
    background-color: #ff0000;
    border: 1px solid #aa0606;
    border-radius: 50%;
}
