

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(75, 75, 73);
}

.container > h1 {
  font-size: 2.5rem;
  margin: 0;
  color: FFF;
}

.container > p {
  font-size: 1rem;
  margin: 0; 
}

.header-app > nav{
  display: flex;
  justify-content: space-between;
  margin: 0 30%;
}

a{
  text-decoration: none;
}

a:hover{
  color: aqua;
}

.header-app{
  background-color: rgb(153, 153, 156);
}