

.cardapio-item{
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: azure;
  border-left: 5px solid rgb(49, 2, 179);
  border-radius: 5%;
  padding: 10px;
  align-items: center;
}

.cardapio-item button{
  background-color: #25D366;
  border-radius: 15%;
}

.cardapio-item span{
  margin-bottom: 5px;
}

.cardapio-item p{
  text-align: center;
}

#btn-enviar{
  background-color: #25D366;
  color: rgb(4, 2, 14);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

